.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;

    img.logo {
        width: 200px;
        height: 54px;
    }

    .userLinks {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        font-weight: bold;
        color: #2c3e50;

        &:hover {
            text-decoration: underline;
        }

        img.profil {
            width: 20px;
            height: 20px;
        }
        img.logout {
            width: 26px;
            height: 26px;
        }
    }
}
